<div class='favourite-container'>
  <app-slider
    [height]='292'
    [sliderElements]='userFavouriteTvSeries'
    [sliderTitle]='"Twoje ulubione seriale :"'
  ></app-slider>

  <app-slider
    [height]='292'
    [sliderElements]='lastWatchedEpisodes'
    [sliderTitle]='"Ostatnio oglądane :"'
  ></app-slider>

  <app-slider
    [height]='292'
    [sliderElements]='propositions'
    [sliderTitle]='"Proponowane dla ciebie :"'
  ></app-slider>

  <!-- <div class='propositions card-container'>
      <div class='title'>Proponowane dla ciebie :</div>
  </div> -->
</div>

