.pagination-container {
  margin-left: 10px;
  display: block;
  width: 100%;
  margin-top: 5px;

  .pagination {
    float: right;
    margin-right: 20px;

    .number {
      background-color: rgba(65,131,215, 0.3);
      color: rgba(255,255,255,0.6);
      padding: 5px 5px;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin: 3px;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        background-color: rgba(65,131,215, 0.5);
        color: rgba(255,255,255,0.8);
      }
    }
  }
}

.disabled {
  opacity: 0.3 !important;
  cursor: unset !important;
  pointer-events:none;

}

.active {
  background-color: rgba(65,131,215, 0.7) !important;
}
