<div class="bg" >
  <img class="background-photo" src="http://localhost:50388/tvShow/photo/{{currentTvShow$ && currentTvShow$.backgroundPhotoName}}" />
</div>

<div class="content">
    <div class="row info-tab">
      <div class="details-container">
        <div class="banner">
          <img src='http://localhost:50388/tvShow/photo/{{currentTvShow$ && currentTvShow$.photoName}}'  />
        </div>
        <div class="details-informations">
          <span class="details">
            <div class="title">
              {{currentTvShow$ && currentTvShow$.name}}
            </div>
            <div class="network">
              Produced by {{currentTvShow$ && currentTvShow$.network}}
            </div>
            <div class="rating-start">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span>4/5</span>
            </div>
            <div *ngIf='currentTvShow$' class="tags">
              <span  *ngFor='let tag of currentTvShow$.categories' class={{tag.type}}>{{tag.name}}</span>
            </div>
            <div class="description">
                {{currentTvShow$ && currentTvShow$.longDescription}}
            </div>
          </span>

          <span class="rating">
            <app-rating-container
              [addRating]='true'
              [ratingModel]='ratingModel'
              [message]='currentTvShow$ && currentTvShow$.userRatingDto ? "Edytuj ocenę" : "Dodaj ocenę" '
              [buttonContent]='currentTvShow$ && currentTvShow$.userRatingDto ? "Edytuj ocenę" : "Dodaj ocenę" '
              (sendRating)='currentTvShow$ && currentTvShow$.userRatingDto ? updateRating($event) : addRating($event)'
            ></app-rating-container>
          </span>
        </div>
      </div>

      <div class="favourite" (click)='addToFavouriteClick()' title='Kliknij aby dodać serial do ulubionych' *ngIf='currentTvShow$ && !currentTvShow$.isFavourite'>
        <i class="fa fa-heart"></i>Dodaj do ulubionych
      </div>

      <div class="favourite" (click)='removeFromFavouritesClick()' title='Kliknij aby przestać obserwować ten serial' *ngIf='currentTvShow$ && currentTvShow$.isFavourite'>
        <i class="fa fa-heart"></i>Lubisz ten serial
      </div>

      <div class="next">
        <app-tv-series-timer *ngIf='closestEpisode$'
          [episode]='closestEpisode$ && closestEpisode$'
        ></app-tv-series-timer>
      </div>

    </div>
    <hr style="opacity: 0.3; margin: 0px 10px;"/>
    <div class="row">
      <div class="content-container">
        <div class="info-tab">
          <div class='change-info-btn' (click)='onChangeCategoryClick("episodes")'>Odcinki</div>
          <div class='change-info-btn' (click)='onChangeCategoryClick("actors")'>Aktorzy</div>
          <div class='change-info-btn' (click)='onChangeCategoryClick("gallery")'>Galeria</div>
          <div class='change-info-btn' (click)='onChangeCategoryClick("informations")'>Informacje</div>
          <app-tv-series-details-seasons *ngIf='episodesActive'
            [seasons]='currentTvShow$ && currentTvShow$.seasons'
          ></app-tv-series-details-seasons>
          <app-tv-series-details-cast *ngIf='actorsActive'
            [cast]='currentTvShow$ && currentTvShow$.actors'
          ></app-tv-series-details-cast>
          <app-tv-series-informations *ngIf='informationActive'
            [name]='currentTvShow$ && currentTvShow$.name'
            [network]='currentTvShow$ && currentTvShow$.network'
            [categories]='currentTvShow$ && currentTvShow$.categories'
            [emissionHour]='currentTvShow$ && currentTvShow$.emissionHour'
            [episodeLength]='currentTvShow$ && currentTvShow$.episodeLength'
            [description]='currentTvShow$ && currentTvShow$.longDescription'
            [rating]='currentTvShow$ && currentTvShow$.tvSeriesRatings && currentTvShow$.tvSeriesRatings.average'
          >
          </app-tv-series-informations>
        </div>
        <div class="comments">
          <div class='comments-bar'>Komentarze<span class='add-comment' (click)='toogleAddComment()'>Dodaj komentarz</span></div>
          <div class='loader' *ngIf='loadingComments'>
              <app-circle-loader
                [text]='"Ładowanie komentarzy"'
              ></app-circle-loader>
            </div>
          <div class='comments-box'>
              <app-tv-series-comments
                (editClicked)='onEditClicked($event)'
                (deleteClicked)='onDeleteCommentClicked($event)'
              ></app-tv-series-comments>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-modal
  [width]='600'
  [height]='addCommentError !== null ? 390 : 380'
  [border_radius]='"15px"'
  [opened]='addCommentOpened'
  (closed)='toogleAddComment()'
>
  <div class="comment-title">
    {{editingCommentState ? "Edytuj komentarz" : "Dodaj komentarz"}}
  </div>

  <app-form
    [formSettings]='commentFormSettings'
    [submitBtnName]='editingCommentState ? "Edytuj komentarz" : "Dodaj komentarz"'
    [submitFunction]='editingCommentState ? onEditCommentSubmit : submitAddComment'
    [isDoingRequest]='false'
  ></app-form>

  <div class="login-error">
    <span *ngIf='addCommentError !== null' class='errors'>{{addCommentError}}</span>
    <span *ngIf='editingCommentState && editCommentError !== null' class='errors'>{{editCommentError}}</span>
  </div>
</app-modal>

<app-modal
  [width]='400'
  [height]='200'
  [border_radius]='"15px"'
  [opened]='deleteCommentState'
  (closed)='toogleDeleteComment()'
>
  <div class='question'>Czy na pewno chcesz usunąć komentarz ? </div>
  <div class='confirm-container'><div class='confirm-btn' (click)='onDeleteCommentSubmit()'>Tak</div><div class='confirm-btn' (click)='toogleDeleteComment()'>Nie</div></div>
</app-modal>
