<div class="bg" >
  <img class="background-photo" src="http://localhost:50388/tvShow/photo/{{currentTvShow$ && currentTvShow$.backgroundPhotoName}}" />

  <div class="row">
    <div class="details-container">
      <div class="banner">
        <img src='http://localhost:50388/tvShow/photo/{{currentTvShow$ && currentTvShow$.photoName}}'  />
      </div>
      <div class="details-informations">
        <div class="details">
          <div class="title">
            {{currentTvShow$ && currentTvShow$.name}}
          </div>
          <div class="network">
            Produced by {{currentTvShow$ && currentTvShow$.network}}
          </div>
          <div class="rating-start">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <span>4/5</span>
          </div>
          <div *ngIf='currentTvShow$' class="tags">
            <span  *ngFor='let tag of currentTvShow$.categories' class={{tag.type}}>{{tag.name}}</span>
          </div>
          <div class="description">
              {{currentTvShow$ && currentTvShow$.longDescription}}
          </div>
        </div>

        <div class="rating">
            <app-tv-series-details-rating></app-tv-series-details-rating>
        </div>
      </div>

    </div>
  </div>
  <hr style="opacity: 0.3; margin: 0px 10px;"/>
  <div class="row">
    <div class="content-container">
      <div class="seasons">
        <app-tv-series-details-seasons></app-tv-series-details-seasons>
      </div>
      <div class="cast">
        <app-tv-series-details-cast></app-tv-series-details-cast>
      </div>
    </div>
  </div>

</div>

