@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.bg {
  min-height: 1000px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  overflow-x: hidden;
  font-family: 'PT Sans', sans-serif;

  .background-photo {
    height: 1000px;
    position: absolute;
    top:0;
    width: 100%;
    opacity: 0.2;
    z-index: 0;

    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
}

.content {
  margin-top: 50px;
  font-family: 'PT Sans', sans-serif;

  .info-tab {
    position: relative;

    .favourite {
      position: absolute;
      bottom: 10px;
      left: 340px;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: #C54246;
      }

      i {
        margin-right: 10px;
      }
    }

    .next {
      position: absolute;
      bottom: 10px;
      right: 100px;
      text-align: center;
      color: rgba(255, 255, 255, 0.664);

      .text {
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-weight: 500;
      }

      .timer {
        font-size: 1.5rem;
        font-weight: 600;

        .number {
          padding: 5px 10px;
          margin-right: 5px;
          margin-left: 5px;
          color: rgba(255, 255, 255, 0.664);
          background-color: rgba(199, 199, 199, 0.24);
          border-radius: 5px;
        }
      }

      .info {
        margin-top: 10px;
        font-size: 0.8rem;
        width: 300px;
      }
    }
  }

  .content-container {
    position: relative;
    margin: 20px;
    width: 100%;
    display: flex;

    .info-tab {
      position: relative;
      display: inline-block;
      width: 60%;
      z-index: 100;

      .change-info-btn {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        text-align: center;
        width: 25%;
        background-color: rgba(255, 255, 255, 0.144);
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.267);
        }
      }
    }

    .comments {
      padding-left: 20px;
      width: 40%;

      .loader {
        position: relative;
        top: -50px;
      }

      .comments-box {
        max-height: 600px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 10px;
          background-color: rgba(255,255,255,0.3);
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(0,0,0,0.4);
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }

      .comments-bar {
        position: relative;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.144);
        width: 100%;

        .add-comment {
          position: absolute;
          z-index: 10000;
          padding: 0px 10px;
          border-radius: 5px;
          transition: 0.5s;
          right: 10px;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            background-color: rgba(255, 255, 255, 0.164);
          }
        }
      }
    }
  }
  }

  .details-container {
  margin: 20px;
  position: relative;
  width: 100%;

  .banner {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 450px;
    background: #000;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);

    img {
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }
  }

  .details-informations {
    display: inline-block;
    position: absolute;
    top: 0;
    margin-left: 20px;
    width: 80%;

    .details {
      float: left;
      width: 80%;
      padding-right: 10%;

      .title {
        font-size: 2rem;
      }

      .network {
        color: #ff9800;
        margin-left: 2px;
      }

      .rating-start {
        position: relative;
        padding: 5px 0;

        .fa {
          color: #f7f406;
          margin-right: 2px;
          font-size: 16px;
        }

        span {
          color: #fff;
          padding: 0 5px;
        }
      }

      .tags {
        position: relative;
        margin-top: 5px;

        span {
          padding: 2px 5px;
          margin-right: 5px;
          color: #fff;
          display: inline-block;
          border-radius: 4px;
        }

        .drama{
          background: #7206f7;
        }

        .romance {
          background: #f70661;
        }

        .action{
          background: #354940;
        }

        .thriller{
          background: #C54246;
        }

        .criminal{
          background: #ffa500;
        }
      }

      .description {
        margin-top: 10px;
        padding: 2px 5px;
      }
    }

    .rating {
      float: right;
      margin-top: 20px;
      width: 20%;
    }
  }
}

.comment-title {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.596);
}

.login-error {
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: 0.6;
  background-color: rgba(214, 100, 100, 0.39) !important;
  text-align: center;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  //border-radius: 5px;

  .errors {
    padding: 10px;
    -webkit-animation: animateOpacity 0.6s;
    animation: animateOpacity 0.6s;
  }
}

.question {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  opacity: 0.8;
  font-size: 1.3rem;
  font-weight: 500;
  margin: auto;
  margin-top: 40px;
  max-width: 350px;
}

.confirm-container {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  margin-top: 20px;

  .confirm-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: rgba(226, 226, 226, 0.815);
    background-color: rgba(153, 153, 153, 0.719);
    opacity: 0.8;
    margin-right: 5px !important;
    border: none;
    width: 150px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}




