<div class="topnav" id="myTopnav">
  <a [routerLink]="['/welcome']" routerLinkActive="router-link-active"  class="active">TvSC</a>
  <a [routerLink]="['/calendar']" >Kalendarz</a>
  <a [routerLink]="['/tvSeries']" >Lista seriali</a>

  <div style="float: right" *ngIf='!isAuthenticated$'>
    <a (click)='toogleLoginForm()'>Zaloguj się</a>
    <a (click)='toogleRegisterForm()'>Zarejestruj się</a>
  </div>

  <div style="float: right" *ngIf='isAuthenticated$'>
    <a routerLink='/user/{{loggedUser$.userName}}' >{{loggedUser$.userName}}</a>
    <a (click)='onLogoutClicked()'>Wyloguj się</a>
  </div>

  <a class="icon">
    <i class="fa fa-bars"></i>
  </a>
</div>

<app-modal
  [width]='400'
  [height]='loginErrors$ !== null ? 355 : 350'
  [border_radius]='"15px"'
  [opened]='loginFormOpened'
  (closed)='toogleLoginForm()'
>
  <div class="sing-up-person">
    <i class="fa fa-user"></i>
  </div>
  <div class="title">
    Logowanie
  </div>

  <app-form
    [formSettings]='loginFormSettings'
    [submitBtnName]='"Zaloguj się"'
    [submitFunction]='onLoginSubmit'
    [isDoingRequest]='isloading$'
  ></app-form>
  <div class="change-form">
    <div class="question">Nie masz jeszcze konta ?</div> <div (click)='toogleRegisterForm()' class="move-link">Zarejestruj się</div>
  </div>
  <div class="login-error">
    <span *ngIf='loginErrors$ !== null' class='errors'>{{loginErrors$}}</span>
  </div>
</app-modal>

<app-modal
  [width]='400'
  [height]='630'
  [border_radius]='"15px"'
  [opened]='registerFormOpened'
  (closed)='toogleRegisterForm()'
>
  <div class="sing-up-person">
    <i class="fa fa-user"></i>
  </div>
  <div class="title">
    Rejestracja
  </div>

  <app-form
    [formSettings]='registerFormSettings'
    [submitBtnName]='"Zarejestruj się"'
    [submitFunction]='onSignUpSubmit'
    [isDoingRequest]='isloading$'
  ></app-form>
  <div class="change-form">
    <div class="question">Masz już konto ?</div> <div (click)='toogleLoginForm()' class="move-link">Zaloguj się</div>
  </div>
</app-modal>
