<div class="calendar-container">
  <div class="month-bar-container">
    <div class="previous-month" (click)='prevMonth()'><i class="fa fa-backward"></i>Poprzedni miesiąc</div>
    <div class="current-month">{{getCurrentMonthName()}}</div>
    <div class="next-month" (click)='nextMonth()'>Następny miesiąc<i class="fa fa-forward"></i></div>
  </div>

  <div class="day-names-container">
    <div class="day-name">Poniedziałek</div>
    <div class="day-name">Wtorek</div>
    <div class="day-name">Środa</div>
    <div class="day-name">Czwartek</div>
    <div class="day-name">Piątek</div>
    <div class="day-name">Sobota</div>
    <div class="day-name">Niedziela</div>
  </div>

  <div class="content-container" [ngClass]="{loading: loading | async}">
    <div *ngIf='loading | async' class="spinner">
      <app-spinner ></app-spinner>
    </div>
    <ng-container *ngFor="let week of weeks">
      <ng-container *ngFor="let day of week">
        <div class="day-container" [ngClass]="{disabled: !isSelectedMonth(day.mDate), tooday: isToday(day.mDate)}">
          <div class="day-title">
            {{day.mDate.date()}}
          </div>
          <hr style="opacity: 0.4;"/>

          <ng-container *ngFor="let episode of getDayEpisodes(day.mDate.date(), day.mDate.month())">
            <div class="tv-show-container" routerLink='/tvSeries/{{episode.tvShowId}}'>
                <img src="http://localhost:50388/tvShow/photo/{{episode.backgroundPhotoName}}" class="tv-show-picture" />

                <span class="rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>

                <span class="title">
                  {{episode.tvShowName}}
                </span>
                <span class="episode">
                  {{episode.episodeName}}
                </span>
                <span class="description">
                  {{episode.description}}
                </span>
              </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>

</div>
