<div class="container-fluid">
  <div class="row" style="margin-top: 20px;">
    <app-tv-series-list-sidebar
      (submited)='filterSubmitted($event)'
    ></app-tv-series-list-sidebar>
    <div class="content">

      <app-tv-series-list-sort-bar></app-tv-series-list-sort-bar>

      <div class="tv-shows">
        <div *ngIf='loading | async' class="spinner">
         <app-spinner ></app-spinner>
        </div>
        <div [ngClass]="{blur: loading | async}">
          <app-tv-series-list-card
              *ngFor='let tvShow of tvShows$.tvShowsList'
              [name]='tvShow.name'
              [station]='tvShow.network'
              [description]='tvShow.description'
              [cast]='tvShow.actors'
              [tags]='tvShow.categories'
              [img]='tvShow.photoName'>
          </app-tv-series-list-card>
        </div>

        <app-tv-series-list-pagination
          [totalPageNumber]='tvShows$.totalPageNumber'
          [activePageNumber]='tvShows$.activePageNumber'
          (pageChange)='pageChanged($event)'
        ></app-tv-series-list-pagination>

      </div>
    </div>
  </div>
</div>
