@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.seasons {
  position: relative;
  width: 100%;
  font-family: 'PT Sans', sans-serif;

  .season {
    margin: 0px 1%;
    width: 98%;
    height: 40px;
    background-color: rgba(167, 167, 167, 0.274);
    display: inline-flex;
    align-items: center;

    .name {
      display: inline-flex;
      align-items: center;
      font-size: 1rem;
      padding-left: 20px;
      float: left;
      height: 100%;
      width: 80%;
    }

    .switch-container {
      float: right;
      height: 100%;
      width: 20%;
      font-size: 1.4rem;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 20px;
    }

    .off {
      color: #C54246;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: #6ab9789c;
      }
    }

    .on {
      color: #6ab9789c;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: #C54246;
      }
    }
  }

  .episode {
    margin: 0px 1%;
    width: 98%;
    height: 30px;
    background-color: rgba(110, 109, 109, 0.274);
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid black;

    .name {
      display: inline-flex;
      align-items: center;
      font-size: 0.9rem;
      padding-left: 30px;
      float: left;
      height: 100%;
      width: 80%;
    }

    .switch-container {
      float: right;
      height: 100%;
      width: 20%;
      font-size: 1.4rem;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 20px;
    }

    .off {
      color: #C54246;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: #6ab9789c;
      }
    }

    .on {
      color: #6ab9789c;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        color: #C54246;
      }
    }
  }
}
