<ng-container *ngIf='!loading'>
  <div class="seasons" *ngFor='let season of episodesArray'>
    <div class="season">
      <div class="name">
        {{season.seasonNumber}}. Sezon {{season.seasonNumber}}
      </div>
      <div *ngIf='season.watched' class="switch-container">
          <i class="fa fa-eye on" title='Oznacz sezon jako nie obejrzany' (click)='removeWatchedSeason(season.id)'></i>
        </div>
      <div *ngIf='!season.watched' class="switch-container">
        <i class="fa fa-eye-slash off" title='Oznacz sezon jako obejrzany' (click)='addSeasonToWatched(season.id)'></i>
      </div>
    </div>
    <div class="episode" *ngFor='let episode of season.episodes'>
      <div class="name">
          {{episode.episodeNumber}}. {{episode.episodeName}}
        </div>
        <div *ngIf='episode.watched' class="switch-container">
          <i class="fa fa-eye on" title='Oznacz odcinek jako nie obejrzany' (click)='removeFromWatched(episode.id)'></i>
        </div>
        <div *ngIf='!episode.watched' class="switch-container ">
          <i class="fa fa-eye-slash off" title='Oznacz odcinek jako obejrzany' (click)='addEpisodeToWatched(episode.id)'></i>
        </div>
    </div>
  </div>
</ng-container>
<div *ngIf='loading'>
  <app-circle-loader
    [text]='"Ładowanie odcinków"'
  ></app-circle-loader>
</div>
