<div class="seasons">
  <div class="season">
    <div class="name">
      1. Sezon 1
    </div>
    <div class="switch-container">
      <div class="switch">
        <div class="on">
        </div>
      </div>
    </div>
  </div>
  <div class="episode">
    <div class="name">
        1. Pilot
      </div>
      <div class="switch-container">
        <div class="switch">
          <div class="on">
          </div>
        </div>
      </div>
  </div>
  <div class="episode">
      <div class="name">
          2. Cat's in the Bag...
        </div>
        <div class="switch-container">
          <div class="switch">
            <div class="on">
            </div>
          </div>
        </div>
    </div>
</div>
