<div class="rating-container">
  <div class="title">Dodaj ocenę : </div>
  <div class="rating">
      <div class="rating-portion">
        <div class="name">Fabuła : </div>
        <div class="content">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <span>4/5</span>
          </div>
      </div>

      <div class="rating-portion">
        <div class="name">Muzyka : </div>
        <div class="content">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <span>4/5</span>
        </div>
      </div>

      <div class="rating-portion">
        <div class="name">Efekty : </div>
        <div class="content">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <span>4/5</span>
        </div>
      </div>

      <div class="rating-portion">
        <div class="name">Razem : </div>
        <div class="content">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <span>4/5</span>
        </div>
      </div>

      <button class="submit-btn">Dodaj ocenę</button>
    </div>
</div>
