<div class="sidebar" style="margin-top: 20px">

  <div style="font-size: 1rem; font-weight: 500">Typ</div>
  <hr> 
  <div class="row">
    <div class="col-6">
      <div class="type">Akcja</div>
      <div class="type">Thriller</div>
      <div class="type">Fantasy</div>
      <div class="type">Komedia</div>
      <div class="type">Animacja</div>
      <div class="type">Sci-fi</div>
      <div class="type">Western</div>
    </div>
    <div class="col-6">
      <div class="type">Familijny</div>
      <div class="type">Przygodowy</div>
      <div class="type">Sportowy</div>
      <div class="type">Muzyczny</div>
      <div class="type">Edukacyjny</div>
      <div class="type">Horror</div>
      <div class="type">Historyczny</div>
    </div>
  </div>

  <br />
  <div style="font-size: 1rem; font-weight: 500">Status</div>
  <hr> 
  <div style="text-align: center">
    <div class="station">W trakcie produkcji</div>
    <div class="station">Zakończony</div>
  </div>

  <br />
  <div style="font-size: 1rem; font-weight: 500">Stacja</div>
  <hr> 
  <div style="text-align: center">
    <div class="station">AMC</div>
    <div class="station">Netflix</div>
    <div class="station">HBO</div>
    <div class="station">Inna</div>
  </div>

  <div style="text-align: center">
      <button class="filter-btn">Filtruj</button>
  </div>
  
</div>