@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.notification-container {
  position: absolute;
  right: 0;
  top: 100px;
  bottom: 100px;
  width: 360px;
  display: flex;
  flex-flow: column-reverse;
  align-items: flex-end;

  .app-notification {
    width: 100%;
  }
}
