@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.notification-container {
  position: fixed;
  right: 0;
  bottom: 100px;
  width: 360px;
  display: flex;
  flex-flow: column-reverse;
  align-items: flex-end;
  z-index: 1000;

  .app-notification {
    width: 100%;
  }
}
