<div class='wrapper container-fluid'>
  <div class='row height-100'>
    <div class='col-lg-3 list-container'>

      <div class='list'>
        <input type='text' placeholder="Szukaj ..." class='search-input'/>
        <div class='tv-series-container'>
          <div class='tv-series'>Gra o tron</div>
          <div class='tv-series'>Detektyw</div>
          <div class='tv-series'>Peaky Blinders</div>
          <div class='tv-series'>Breaking Bad</div>
          <div class='tv-series'>Gra o tron</div>
          <div class='tv-series'>Detektyw</div>
          <div class='tv-series'>Peaky Blinders</div>
          <div class='tv-series'>Breaking Bad</div>
        </div>
      </div>

    </div>
    <div class='col-lg-9'>
      <div class='content-container'>
        <div class='content'>

        </div>
      </div>
      <!-- <div class='content'>
        <div class='image-container'>
          <img src='../../../../assets/img/peakyBlinders/poster.jpg' />
          <div class='update-photo'>Aktualizuj zdjęcie</div>
        </div>
        <div class='background-container'>
          <img src='../../../../assets/img/peakyBlinders/bg.jpg' />
          <div class='update-background'>Aktualizuj tło</div>
        </div>
        <div class='informations'>
          <input type='text' class='information-input' placeholder="Nazwa" />
          <input type='text' class='information-input' placeholder="Opis" />
          <input type='text' class='information-input' placeholder="Godzina emisji" />
          <input type='text' class='information-input' placeholder="Długość odcinka" />
        </div>
        <div class='actors-container'>
          <div class='title'><div class='title-holder'>Aktorzy<i class="fa fa-plus plus"></i></div></div>
          <div class='actor'>
            <div class='picture-holder'>
              <i class="fa fa-edit edit"></i>
              <img src='../../../../assets/img/gameOfThrones/cast1.jpg' title='' />
              <div class='name'>Imie Nazwisko</div>
            </div>
          </div>
          <div class='actor'>
            <div class='picture-holder'>
              <img src='../../../../assets/img/gameOfThrones/cast2.jpg' title='' />
              <div class='name'>Imie Nazwisko</div>
            </div>
          </div>
          <div class='actor'>
            <div class='picture-holder'>
              <img src='../../../../assets/img/gameOfThrones/cast3.jpg' title='' />
              <div class='name'>Imie Nazwisko</div>
            </div>
          </div>
          <div class='actor'>
            <div class='picture-holder'>
              <img src='../../../../assets/img/gameOfThrones/cast4.jpg' title='' />
              <div class='name'>Imie Nazwisko</div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>


</div>
